/* 🔥 RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 🔥 FULL HEIGHT CHAIN */
html, body, #root {
    height: 100%;
    width: 100%;
}

/* 🌌 BODY */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #1c1c2b);
    overflow: hidden;
}

/* 🔥 ROOT = CENTER SYSTEM */
#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 🎮 CONTAINER */
.game-container {
    height: 95%;
    width: 95%;
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    background: linear-gradient(135deg, #0f0f0f, #404040);
}

/* 🃏 Carte centrale */
.game-card {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    transition: 0.3s ease;
}

/* 🏆 Titres */
h1 {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #67ffa9;
    text-shadow: #1c1c2b 5px 5px 5px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.question-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #67ffa9;
    text-shadow: #1c1c2b 5px 5px 5px;
    margin-bottom: 15px;
}

.question-image {
    width: 300px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* 🧑 Input */
input {
    padding: 10px;
    width: 30%;
    margin-bottom: 100px;
    font-size: 16px;
    background: none;
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(176, 248, 255);
    text-align: center;
    color: #93ffe6;
    transition: 0.3s ease;
}

input::placeholder {
    color: rgba(203, 255, 219, 0.49);
}

input:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    color: #93ffe6;
    transition: 0.3s ease;
}

input:focus::placeholder {
    color: rgba(203, 255, 219, 0);
    transition: 0.3s ease;
}

input:hover {
    outline: none;
    background: rgba(0, 0, 0, 0.17);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
    color: #93ffe6;
    transition: 0.3s ease;
}


/* 🔘 Boutons */
.start-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 20px rgba(156, 245, 255, 0.26);
    color: #ffffff;
    transition: 0.3s;
    border: none;
}

.start-btn-text {

}

/* Hover */
.start-btn:hover {
    height: 55px;
    width: 55px;
    background-color: #a0ffbc;
    color: #000000;
}

/* Timer */
.timer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #717171, #131313);
    border-radius: 10px 10px 0 0;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.49);
    color: #00ff16;
}

.middle {
    color: #ffcc00;
    animation: pulse 0.5s infinite;
}

.danger {
    color: red;
    animation: pulse 0.5s infinite;
}

/* Score */
.score {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-variant: small-caps;
    color: #00ffcc;
}

.score-letter {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 50px;
}

.score-number {
    font-size: 30px;
    font-weight: bold;
    color: #f2ff7f;
}


/* Message réponse */
.message {
    margin-top: 15px;
    font-size: 18px;
    color: yellow;
    font-weight: bold;
}

/* Game Over */
.game-over {
    font-size: 28px;
    margin: 100px 0 0 0;
    width: 100%;
    height: 150px;
    color: #fffc4d;
}

.final-score {
    width: 100%;
    height: 150px;
    margin: 0;
}

.btn-restart {
    cursor: pointer;
    border: none;
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.26);
    background: #2e6047;
    color: #fff;
}

.btn-restart:hover {
    width: 105px;
    height: 45px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.26);
    background: rgba(5, 2, 2, 0.54);
    transition: 0.2s ease;
}

/* Boutons réponses */
.answer-btn {
    width: 90%;
    margin: 8px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.53);
    background-color: rgba(42, 42, 64, 0.58);
    color: white;
    transition: 0.3s ease;
}

.answer-btn:hover {
    background-color: rgba(126, 126, 181, 0.39);
    transform: scale(1.03);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Bonne réponse */
.correct {
    background-color: #00cc66 !important;
    animation: glowGreen 0.5s ease-in-out infinite alternate;
}

/* Mauvaise réponse */
.wrong {
    background-color: #cc0033 !important;
    animation: glowRed 0.5s ease-in-out infinite alternate;
}

/* Animation glow */
@keyframes glowGreen {
    from {
        box-shadow: 0 0 5px #00ff99;
    }
    to {
        box-shadow: 0 0 20px #00ff99;
    }
}

@keyframes glowRed {
    from {
        box-shadow: 0 0 20px #ff3535;
    }
    to {
        box-shadow: 0 0 20px #ff3535;
    }
}
